
#header{

	.navbar{
		position: fixed;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		z-index: 100;
		width: 100%;
	}
	.bg-dark {
		background-color: $primario !important;
	}
	.navbar-expand-lg{
		.navbar-nav {
			display: flex;
			flex-direction: row;
			padding-left: 300px;
			margin-bottom: 0;
			list-style: none;

				a {
			color: $secundario;
			text-decoration: none;
			font-family: $fuente-tres;
			font-size: 15px;
			font-weight: 800;
			background-color: transparent;
			margin-left: 20px;
			
			}
				a:hover {
				color: $primario;
				text-decoration: none;
				background-color: $secundario;
				border-right: solid $secundario 1px;
				border-radius: 5px;
			}
			.cartImg {
				width: 45px; 
				cursor: pointer;
		 
			 }
		} 
		.navbar-collapse{
			.navbar-brand {
				display: inline-block;
				padding: 10px;
				margin-right: 1rem;
				margin-left: 10px;
				font-family: $fuente-dos;
				font-size: 30px;
				line-height: inherit;
				white-space: nowrap;
			} 
			a {
				color: $secundario;
				text-decoration: none;
			}
			
		}
		.logIn{
			padding-left: 300px;

			a{
				display: block;
				color: $secundario;
				font-size: 20px;
				font-weight: 800;
				font-family:$fuente-dos;
				background-color: $primario;
				border: 1px solid $primario;
				border-radius: 25px;
				min-width: 100px;
				text-align: center;
				margin-left: 05px;
			}

		
			a:hover{
				text-decoration: none;
				background-color: $secundario;
				border-radius: 7px;
				color: $primario;
			}
		}
		
	}	
	.navbar-light{ 
		.navbar-toggler {
			color: $secundario;
			padding: .25rem .75rem;
			font-size: 1.25rem;
			line-height: 1;
			background-color: $adicional-1;
			border: 1px solid $secundario;
			border-radius: .25rem;
		}	.navbar-toggler:focus{ 
			.navbar-toggler:hover {
			text-decoration: none;
			}
		}
		.navbar-toggler-icon {
			display: inline-block;
			width: 1.5em;
			height: 1.5em;
			vertical-align: middle;
			background-image: url("../media/icon.png");
			background-size: auto;
			background-size: 100% 100%;
		}
	}
}
#container{
	.banner{
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-image: url("../media/banner1.jpeg");
		background-repeat: no-repeat;
		background-size: 100%;
		padding-bottom: 55em;

	}
}	
	#seccion1{
		background-color: $primario;
		padding-bottom: 150px;
		padding-top: 150px;

		.contenido{
			display: flex;
			flex-direction: row;
			justify-content: center;
			margin-left: 50px;

			.miH1{
				color: $secundario;
				font-family: $fuente-tres;
				font-size: 3rem;
				text-align:center;

			}
			.miH2{
				color: $secundario;
				font-family: $fuente-tres;
				font-size: 20px;
				text-align: left;
				padding: 10px;
				margin-left: 10px;

			}
			img{
				border: 5px ridge $secundario;
				border-radius: 30px;

			}
			
		}	
	}
	#seccion2{
		display: flex;
		flex-direction: row-reverse;
		background-color: $adicional-2;
		.pagoTexto{
			display: flex;
			flex-direction: column;
			padding: 10em;
			.miH1{
				color: $secundario;
				font-family: $fuente-tres;
				font-size: 3em;
				text-align:left;
				font-size: 15px;
			}
			.miH2{
				color: $secundario;
				font-family: $fuente-tres;
				font-size: 1.5em;
				text-align: left;

			}
			.pago{
				color: $secundario;
				font-family: $fuente-tres;
				font-size: 1.5em;
				text-align: left;
				margin-top: .05em;
				list-style: none;

			}
			.catalogo{
				a {
					display: block;
					color: $secundario;
					font-family: $fuente-tres;
					font-size: 25px;
					text-align: center;
					text-decoration: none;
					background-color: $primario;
					max-width: 250px;
					border: 1px solid $primario;
					border-radius: 20px;
					margin-top: 1em;	
					margin-left: 3em;
				}
				a:hover {
					color: $primario;
					text-decoration: none;
					background-color: $secundario;
				}
				.iconoDescarga{
					a {
						background-color: $secundario;
						color: $primario;
						font-family: $fuente-tres;
						font-size: 15px;
						text-align: center;
						text-decoration: none;
						max-width: 250px;
						border: 1px solid $primario;
						border-radius: 20px;
						margin-top: 1em;	
						margin-left: 5.1em;	
					}
					img{
						padding: 05px;
						max-height: 35px;
					}
				}	
			}		
		}
		img{
			max-width: 50%;
		}
	}
	#seccion3{
		background-color: $adicional-3;
		display: flex;
		flex-direction: row;
		.enviosTexto{
			display: flex;
			flex-direction: column;
			padding: 10em;
			.miH1{
				color: $secundario;
				font-family: $fuente-tres;
				font-size: 3em;
				text-align:left;
			}
			.miH2{
				color: $secundario;
				font-family: $fuente-tres;
				font-size: 1.5em;
				text-align: left;
				margin-top: .05em;
			}
			.misLugares{
				color: $secundario;
				font-family: $fuente-tres;
				font-size: 1.5em;
				text-align: left;
				margin-top: .05em;
				list-style: none;
			}
			a {
				color: $secundario;
				font-family: $fuente-tres;
				font-size: 25px;
				text-align: center;
				text-decoration: none;
				background-color: $primario;
				max-width: 250px;
				border: 1px solid $primario;
				border-radius: 20px;
				margin-top: 1em;	
				margin-left: 6em;	
				}
				a:hover {
				color: $primario;
				text-decoration: none;
				background-color: $secundario;
				}
		}	

			img{
				max-width: 50%;
			}

	}
#footer{
	position: absolute;
	background-color: $primario;
	width: 100%;
	min-height: 90px;
	padding: 50px;
	.miFooter{
		display: flex;
		flex-direction: row;
		.nav {
		display: flex;
		flex-direction: column;
		list-style: none;
			a {
				color: $secundario;
				text-decoration: none;
				font-family: $fuente-tres;
				font-size: 20px;
			}
				a:hover {
					color: $terciario;
					text-decoration: none;
				}
		}
		.contactoFooter{
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: right;
			margin-left: 70em;
			.emailFooter{
				color: $secundario;
				font-family: $fuente-tres;
				font-size: 20px;
			}
			.telefonoFooter{
				margin-top: 0;
				margin-bottom: 1rem;
				color: $secundario;
				font-family: $fuente-tres;
				font-size: 1.5em;
			}
		}
	}

}

#textos{

	vertical-align: center;
	.text-one{
		background-color: $primario;
		padding-top: 10px;
		padding-left: 20px ;
		text-align: left;
		font-family: $fuente-tres;
		font-size: 50px;
		color: $secundario;
	}
}


#cartNumbers{

	background-color: #206a5d;
	width: 23px;
	height: 23px;
	border-radius: 100%;
	text-align: center;
	position: relative;
	top: -11px;
	right: 6px;
	cursor: pointer;

}

.imagenCarrito {
	height: 250px;
}
.text-two{

	display: flex;
	flex-direction: row;
	justify-content: right;

	.textoPrincipal {
		margin-top: 150px;
		color: #000;
		font-family: 'Roboto', sans-serif;
		letter-spacing: 2px;

		.feliPet{
			color: $terciario;
			font-family: $fuente-dos;
			font-size: 50px;
		}

	} 
	img {
		max-width: 150px;
		max-height: 150px;
		margin-left: 10px;
		padding-right: 25px;
		
	}
}

#fondoHome {
	background-color: #212529;
	padding: 20px;

	.productos{
        display: grid;
		grid-template-columns: repeat(3, 1fr);
    }

	.text-secondary {
		color: #000 !important;
		font-size: 25px;
	}

	.product-price{
		font-size: 25px;
	}

	
    .imagenesProducto {
        /* width: 350px;
        height: 400px;         */
        /* margin-left: 50px; */
        border-radius: 20px;
        cursor: pointer;
    }

	.card {
        position: relative;
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        max-width: 450px;
        background-color:   #fff;
        background-clip: border-box;
        border: 0 solid rgba(0, 0, 0, 0.125);
        border-radius: 10px;
        cursor: pointer;
    }

	.shadow {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
    .btn-outline-success {
        color: #000;
        border: 2px solid #000;
		font-size: 15px;
    }
    .btn-outline-success:hover {
        color: #fff;
        border: 2px solid #000;
        background-color: #000;
		font-size: 15px;
		
    }

}


#cartModal{

	.modal-content{
		background-color: $primario;

		.btn-outline-danger {
			color: $secundario;
			border-color: #dc3545;
			background-color: #dc3545 ;

		}

		.btn-outline-danger:hover {
			color: $secundario;
			border-color: #dc3545;
			background-color: #c31b2b ;
		}
	}
	.modal-title{
		color: $secundario;
		font-family: $fuente-tres;
		font-size: 30px;
	}
	.modal-header{
		color: $secundario;

		h6{
			font-family: $fuente-tres;
			font-size: 20px;
		}
	}

	.precioTotal{
		color: $secundario;
		font-family: $fuente-tres;
		font-size: 30px;
	}

}

.shoppingCartProducts{

	.shoppingCartProductsTitle{
		font-size: 20px;
		color: $secundario;
	}

	.shoppingCartProductsPrice{
	font-size: 20px;
	color: $secundario;
	}	

    .imagenesModal {
        height: 150px;
        width: 150px;
        border-radius: 5%;
    }
}


#contacto{

	background-color: $adicional-2;

	.contact-form {

		--form-ok-color: green;
		--form-error-color: red;
		padding: 20%;
		padding-left: 15%;
		padding-left: 15%;
		padding-top: 50px;

		>*{
			padding: 0.5rem;
			margin: 1rem auto;
			display:block;
			width: 100%;
		}

		legend{
			font-size: 1.5rem;
			font-weight: bold;
			text-align: center;
			h1{
				font-size: $fuente-dos;
				color: $secundario;
				font-size: 20px;
			}
		}
		input {

			font-size: 1rem;
			font-family: sans-serif;
			border: 2px solid $primario;
			border-radius: 05px;
		}
		textarea{
			font-size: 1rem;
			font-family: sans-serif;
			border: 2px solid $primario;
			border-radius: 05px;
			resize: none;
		}

		input[type="submit"]{
		width: 50%;
		font-weight: bold;
		cursor: pointer;
		background-color: $secundario;
		border: 1px solid $primario;
		color: $primario;
		}

		input[type="submit"]:hover{
		width: 50%;
		font-weight: bold;
		cursor: pointer;
		background-color: $primario;
		border: 1px solid $primario;
		color: $secundario;
		}

		* ::placeholder{
			color: black;
		}
		[required]:valid{
			border: thin solid var(--form-ok-color);
		}
		
		[required]:invalid{
			border: thin solid var(--form-error-color);
		}

	}

	.contact-form-response { 
		font-size: 1.5rem;
		font-weight: bold;
		text-align: center;
		h1{
			font-size: $fuente-dos;
			color: $secundario;
			font-size: 20px;
		}
	}
	
	.contact-form-loader{
		margin-left: 34rem;
	}

	
	.contact-form-error {
		margin-top: -1rem;
		font-size: 80%;
		background-color: var(--form-error-color);
		color: blanchedalmond;
		transition: all 800ms ease;

		.is-active{
		display: block;
		animation: show-message 1s 1 normal 0s ease-out both;
		}
	}
	
	.none{
		display: none;
	}
	
	@keyframes show-message {
	
		0%{
			visibility: hidden;
			opacity: 1;
		}
	
		100%{
			visibility: visible;
			opacity: 1;
		}
	
	}
}

#formLogIn {
	background-color: $adicional;
	.formLogIn2 {
		padding: 15%;
		padding-left: 600px;
		.form-group {
			display: flex;
			flex-direction: column;
			.miCol{
				max-width: 83.333333%;
			}
			.estilosLogIn {
				margin-top: 10px;
				width: 25rem;
				font-size: 20px;
				border-radius:.25rem;
				border: 1px solid $primario;
			}
		}

	}
	.botones{
		margin: 50px;
		input{
			color: $secundario;
			font-size: 25px;
			font-family:$fuente-dos;
			font-weight: 650;
			background-color: $adicional-2;
			border:1px solid $adicional-2;
			border-radius: 25px;
			min-width: 250px;
			text-align: center;	
			text-decoration: none;
			}
		input:hover{
			color: $primario;
			background-color: $secundario;
			border-radius: 25px;				}
		
	}	
}	




