$primario: #000;
$secundario: #fbfbfbcc;
$terciario: #622f7e;
$adicional:#4f575e;
$adicional-1:#dbc4e2;
$adicional-2:#212529;
$adicional-3:  #33103d;
$fondo:#000;
$fuente-uno:'Open Sans Condensed', sans-serif;
$fuente-dos:'Cormorant Garamond', serif;
$fuente-tres: 'Roboto', sans-serif;

$fuente-light:300;
$fuente-regular:400;
