$primario: #000;
$secundario: #fff;
$terciario: #622f7e;
$adicional:#4f575e;
$adicional-1:#dbc4e2;
$fondo:#000;
$texto:#000;
$texto-secundario: #fff;
$fuente-uno:'Open Sans Condensed', sans-serif;
$fuente-dos:'Cormorant Garamond', serif;
$fuente-tres:'Roboto', sans-serif;;
$fuente-light:300;
$fuente-regular:400;
